.login {
  flex: 5;
  padding-left: 1rem;
}

.login__form {
  padding: 1rem 0;
}

.login__form > div {
  display: flex;
  font-size: 1.2rem;
  gap: 1rem;
  padding: 0.7rem 0;
}

.login__form > div > input {
  padding: 0.2rem 0.4rem;
}
.login__form > button {
  background-color: var(--secondary-color);
  color: white;
  font-size: 1.15rem;
  border-radius: 0.4rem;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  border: 1px solid transparent !important;
  transition: all 0.3s;
}
.login__form > button:hover {
  color: var(--secondary-color);
  background: white;
  border-color: var(--secondary-color) !important;
}

@media (min-width: 768px) {
  .Toastify__toast-container {
    font-size: 1.2rem;
  }
}
