.topbar {
  width: 100%;
  height: 62px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: var(--secondary-color);
  cursor: pointer;
}

.topRight {
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.popup-content {
  border-radius: 0.5rem;
  padding: 1rem 0.8rem;
  max-width: 30rem;
}
@media (min-width: 768px) {
  .popup-content {
    padding: 2rem;
  }
}
.modal {
  text-align: center;
}
.modal__btn-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 1.7rem auto 1rem auto;
}
.modal__btn-container button {
  font-size: 1.1rem;
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s transform;
}
.modal__btn-container button:hover {
  transform: scale(1.1);
}
.modal__btn-container button:first-child {
  color: #555;
}
.modal__btn-container button:last-child {
  background-color: red;
}
