.campaign {
  flex: 5;
  padding: 20px;
}

.campaignTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.campaignAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.campaignTop {
  display: flex;
}

.campaignTopLeft {
  flex: 1;
}
.campaignTopRight {
  flex: 1;
}

.campaignTopLeft {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.campaignTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.campaignImgContainer {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin: 20px;
  padding: 20px;
  display: flex;
  gap: 10px;
}
.campaignDesigns {
  flex: 1;
  display: flex;
  gap: 10px;
}
.campaignDesigns img {
  display: block;
  border: 1px dotted var(--secondary-color);
}
.campaignImgs {
  flex: 1;
  display: flex;
}

.campaignInfoTop {
  display: flex;
  align-items: center;
}

.campaignName {
  font-weight: 600;
}

.campaignInfoBottom {
  margin-top: 10px;
}

.campaignInfoItem {
  width: 400px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  line-height: 1.5;
}

.campaignInfoKey {
  font-weight: 600;
}
.campaignInfoValue {
}

.campaignBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.campaignForm {
  display: flex;
  justify-content: space-between;
}

.campaignFormLeft {
  display: flex;
  flex-direction: column;
}

.campaignFormLeft > label {
  margin-bottom: 10px;
  color: gray;
}

.campaignFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.campaignFormLeft > select {
  margin-bottom: 10px;
}

.campaignUploadImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.campaignFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.campaignUpload {
  display: flex;
  align-items: center;
}

.campaignButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.campaignImages {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.campaignImages img {
  width: 20rem;
  aspect-ratio: 16 / 10;
}

.campaignVideo {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
